# ------------------------------------
# RZ_CMS
# REZO ZERO
# Ambroise Maupate & Julien Blanchet
#
# .htaccess
# ------------------------------------

# On OVH Servers you hav to manually activate PHP 5.4, just comment out the following line.
#SetEnv ZEND_OPTIMIZER 1
#SetEnv PHP_VER 5_4

# On "Not found" error, redirect on home page
ErrorDocument 404 /

IndexIgnore *

# --------------------
# REWRITE ENGINE
# --------------------
RewriteEngine On

# Redirect to www
#RewriteCond %{HTTP_HOST} !^www\.
#RewriteRule ^(.*)$ http://www.%{HTTP_HOST}/$1 [R=301,L]

# ByPass for these folders
RewriteRule ^js - [L,NC]
RewriteRule ^img - [L,NC]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ index.php [QSA,L]
